
*{
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
[ng-drag]{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[ng-drag]{
    width: 80px;
    height: 80px;
    background: rgba(255,0,0, 0.5);
    color:white;
    text-align: center;
    padding:20px;
    /*display: inline-block;*/
    margin:10px;
    cursor: move;
    border-radius: 50%;
}
ul.draggable-objects:after{
    /*display: block;*/
    content:"";
    clear:both;
}
.draggable-objects li{
    float:left;
    /*display: block;*/
    width: 120px;
    height:100px;
}
[ng-drag].drag-over{
    border:solid 1px red;
}
[ng-drag].dragging{
    opacity: 0.5;
}
[ng-drop]{
    background: rgba(0,255,0, 0.5);
    /*text-align: center;*/
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px solid red;
    border-radius: 50%;
}
.resignedEmp{
    width: 80px;
    height: 80px;
    background: rgba(255,0,0, 0.5);
    color:white;
    text-align: center;
    padding:20px;
    /*display: inline-block;*/
    margin:10px;
    cursor: move;
    border-radius: 50%;
}
[ng-drop].drag-enter{
    border:solid 5px red;
}
[ng-drop] span.title{
    /*display: block;*/
    position: absolute;
    top:50%;
    left:50%;
    width: 200px;
    height: 20px;
    margin-left: -100px;
    margin-top: -10px;
}

.tooltip-inner{
    width: 100px;
}

.resigned{
    width: 100%;
    height:100px;
    border: 1px solid #00FF00;
    border-radius: 0%;
}