<!DOCTYPE html>
<html>
<head>
    <title>Arrangement</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
</head>

<body ng-app="ExampleApp">

<div ng-controller="MainCtrl" style="width:100%">

    <div style="width:100%; margin:0" class="row">
        <strong style="border-bottom:1px solid #CACACA">Resigned Employee</strong>
    </div>

    <div ng-drop="true" ng-drop-success="onDropComplete1($data,$event)" class="row resigned">
        <div style="display:inline-block" ng-repeat="obj in resignedEmployee" class="resignedEmp"></div>
    </div>

    <div style="width:100%; margin:0" class="row">
        <strong style="border-bottom:1px solid #CACACA">New Employee without seat</strong>
    </div>

    <div style="width:100%" class="row">
        <ul class="draggable-objects">
            <li  ng-repeat="obj in newEmployee" >
                <div ng-drag="true" ng-drag-data="obj" data-allow-transform="true"> {{obj.name}} </div>
            </li>
        </ul>
    </div>
    <hr/>


    <div style="width:100%; margin:0" class="row">
        <strong style="border-bottom:1px solid #CACACA">Old Employee</strong>
    </div>

    <div style="width:100%;">
        <div  ng-repeat="obj in deskRecord" style="width:40%; display:inline-block; margin:5%;">
            <div  style="width:100%; border:1px solid red;">
                <div class="row" style="background-color: aquamarine; margin:0">
                    <div  ng-drop="true" ng-drop-success="onDropComplete($data, $index, 0)" style="display:inline-block; margin-left: 10%; top: -50px;">
                        <div data-toggle="tooltip"  title="{{titleContent(employee[4*$index])}}" ng-if="employee[4*$index].deskNo == $index && employee[4*$index].seatNo==0" ng-drag="true" ng-drag-data="employee[4*$index]"></div>
                    </div>
                    <div  ng-drop="true" ng-drop-success="onDropComplete($data,$index, 1)" style="display:inline-block;margin-left: 40%; top: -50px;">
                        <div data-toggle="tooltip"  title="{{titleContent(employee[4*$index+1])}}"  ng-if="employee[4*$index+1].deskNo == $index && employee[4*$index+1].seatNo==1" ng-drag="true" ng-drag-data="employee[4*$index+1]"></div>
                    </div>
                </div>
                <div class="row" style="background-color: aquamarine; margin:0">
                    <div  ng-drop="true" ng-drop-success="onDropComplete($data, $index, 2)" style="display:inline-block; bottom: -50px; margin-left: 10%;">
                        <div   data-toggle="tooltip" title="{{titleContent(employee[4*$index+2])}}" ng-if="employee[4*$index+2].deskNo == $index && employee[4*$index+2].seatNo==2" ng-drag="true" ng-drag-data="employee[4*$index+2]" ></div>
                    </div>
                    <div  ng-drop="true" ng-drop-success="onDropComplete($data, $index, 3)" style="display:inline-block; bottom: -50px; margin-left: 40%;">
                        <div  data-toggle="tooltip"  title="{{titleContent(employee[4*$index+3])}}" ng-if="employee[4*$index+3].deskNo == $index && employee[4*$index+3].seatNo==3" ng-drag="true" ng-drag-data="employee[4*$index+3]"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</div>
<footer style="margin-top:2000px;">footer</footer>

<script src="jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="angular.min.js"></script>
<script src="ngDraggable.js"></script>
<script src="app.js"></script>

</body>
</html>
